.About {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  //min-height: 100vh;

  .dropSection {
    display: flex;
    flex-direction: column;
    width: 1023px;
    margin: auto;
    @media screen and (max-width: 996px) {
      width: 650px;
    }
    @media screen and (max-width: 576px) {
      width: 335px;
    }
  }
}
