.Housing {
  max-width: 1240px;
  margin: auto;
}
.infoSection {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
}

.dropSection {
  display: flex;
  justify-content: space-between;
}
.rightInfo {
  margin-top: 20px;
  .hostInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
    p {
      margin-left: 30px;
      color: var(--primary);
      font-weight: 500;
      font-size: 20px;
      line-height: 142.6%;
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 64px;
    }
  }
}
