.Card {
  max-width: 1240px;
  margin-top: 13px;
  padding: 56px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--white);
  border-radius: 25px;

  @media screen and (max-width: 576px) {
    padding: 0;
    background: white;
    margin: auto;
    justify-content: center;
  }
  a {
    border-radius: 10px;
    width: 340px;
    height: 340px;
    display: flex;
    margin-bottom: 60px;
    border-radius: 10px;
    cursor: pointer;
    @media screen and (max-width: 576px) {
      width: 335px;
      height: 255px;
      margin-bottom: 15px;
    }

    article {
      position: relative;
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      img {
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        transition: 1s transform;
        @media screen and (max-width: 576px) {
        }
      }
      h2 {
        bottom: 10px;
        left: 10px;
        color: var(--white);
        position: absolute;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
}
