.InfoHousing {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;

  h1 {
    color: var(--primary);
  }
  p {
    color: var(--primary);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
}
